<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/book-solid.svg" type="image/x-icon" />
    <title>Livraria</title>
</head>
<body>
    <header class="cabecalho">
        <nav> 
            <a href="/">Livraria</a>
        </nav>  
    </header>
    <main>

        <a class="botao__voltar" href="/autor-listagem"><i class="fas fa-angle-double-left"></i> Todos os autores</a>    
        <div class="cabecalho__secundario">
            <h2>Cadastrar Autor</h2>
            <span>Utilize o formulário abaixo para cadastrar o Autor</span>
        </div>

        <form action="" method="POST" class="formulario__cadastrar">

            <label class="formulario__label" for="nome">Nome</label>
            <input type="hidden" name="id" value = "">
            <input class="formulario__input" type="text" name="nome" value="" required>

            <label class="formulario__label" for="nacionalidade">Nacionalidade</label>
            <input class="formulario__input" type="text" name="nacionalidade" value="" required>

            <button class="formulario__botao" type="submit">Salvar</button>

        </form>
    </main>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/autor.js"></script>
</body>
</html>