@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

body{
    font-family: 'PT Sans', sans-serif;
}

.cabecalho{
    align-items: center;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    padding: 2%;
    font-size: 75px;
    font-weight: bold;
}

.navegacao{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

.item__navegacao{    
    align-items: center;
    border: 10px solid black;
    border-radius: 20px;
    color: black;
    display: flex; 
    flex-direction: column;
    font-size: 50px;
    font-weight: bold;
    padding: 2%;
    text-decoration: none;
}

.item__navegacao:hover{    
    border-color: aquamarine;
    color: aquamarine;
    font-size: 60px;
}

.botao__cadastro{    
    width: 80px;
    height: 80px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:black;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    transition: 0.25s all;
}

.botao__cadastro:hover{    
    width: 85px;
    height: 85px;
    background-color: rgb(110, 220, 185);
    font-size: 40px;
}

.tabela{
    width: 100%;
}

.tabela__cabecalho{
    background-color: black;
    color:white
}

.tabela__celula{
    padding: .75rem;
    text-align: center;
    border: 1px solid black;
}

.tabela__linha:hover{
    background-color: aquamarine;
}

.esquerda{
    text-align: left;
}

.atualizar, .excluir{
    padding: 0.25rem;
}

main{
    margin: 2.5rem;
}

.botao__voltar{
    font-size: 25px;
    font-weight: bold;
    margin: 5rem;
}

.cabecalho__secundario{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
    font-weight: bold;
    padding: 2rem;
}

.formulario__cadastrar, .formulario__atualizar {
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 30%;
    font-size: 20px;
}

.formulario__input{
    border: 1px solid black;
    margin-bottom: 1rem;
    font-size: 18px;
}

.formulario__label{
    font-weight: bold;
}

.formulario__botao{
    cursor: pointer;
    border: 1px solid black;
    background-color: lightgray;
    font-weight: bold;
    margin: 5% 30% 1% 30%;
    padding: 0.5rem;
    transition: all 500ms;
}

.formulario__botao:hover{
    background-color: gray;
}